<%- include('partials/_header') -%>
<div class="container">
    <div class="sub-container">
        
        <br />
        <h2> Blog -> <%- caps(theme) %></h2>
        <hr />
        <div class="inner-sub-container">
        <table>
            <tr>
                <th><b>Subject</b></th><th><b>Date</b></th>
                <% if(user) { %>
                <th></th>
                <% } %>
            </tr>

            
            <% for(let blog of blogs) { %>
            <tr>
                <td><a href="/blog/<%- theme.toLowerCase() %>/<%- blog.id %>"><%- blog.SUBJECT %></a></td>

                <td><%- blog.dt %></td>
                <% if(user) { %>
                <td><div class="edit-icon" title="Edit" onclick="window.location.href='/blog_edit/<%- theme %>/<%- blog.id %>'"></div></td>
                <% } %>
            </tr>
            <% } %>
        </table>
    </div>
    </div>
    <script src="/js/blog-listing.js"></script>
<%- include('partials/_footer') -%>