<%- include('partials/_header') -%>

<div class="container">
  <div class="sub-container">
      <br />
      <h2> Blog -> <%= theme.charAt(0).toUpperCase() + theme.slice(1).toLowerCase() %></h2>
      <hr />
      <div class="inner-sub-container">
          <div class="inner-sub-container-heading"><h2> >> <%= subject %></h2></div>
          <div class="inner-sub-container-content">
            <%- content %>
            <hr />
            -<%= author %> | <%= creation_time %>
          </div>
      </div>
      <% if(parseInt(id) > 1)  { %>
        <a class="last-link" href="\blog\<%= theme.toLowerCase() %>\<%= parseInt(id) - 1 %>" title="Last blog entry"> << </a>
      <% } %>
      <% if(parseInt(id) < parseInt(blog_count)) { %> 
        <a class="next-link" href="\blog\<%= theme.toLowerCase() %>\<%= parseInt(id) + 1 %>" title="Next blog entry"> >> </a>
      <% } %>
</div>

<%- include('partials/_footer') -%>